# Environment
.env

# CodeIgniter writable directory

writable/cache/FileLocatorCache
writable/cache/FactoriesCache_config
writable/logs/*.log
writable/cache/throttler_*


# Node dependencies
node_modules/


# Composer
vendor/
composer.lock

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Backup files
*.bak
*.swp

# Coverage
build/
tests/
docs/
